<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Stratek</title>
</head>
<body>
<div id="container">
    <div th:include="fragments/pageStyle :: nav_top"></div>
    <div id="content">
        <table id="products">
            <tr th:each="product : ${products}" >
                <td>
                    <a th:href="${'/product/details/' + product.ean}" th:text="${product.name}" ></a>
                </td>
                <td style="width: 105px" th:text="${'kr. ' + product.price}"></td>
                <td style="width: 100px"><button class="button" style="vertical-align:middle"><span>Køb </span></button></td>
            </tr>
        </table>

    </div>
</div>

</body>
<style th:include="fragments/pageStyle :: style">

</style>
</html>