<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Stratek</title>
</head>
<body>
<div id="container">
    <!-- imports the fragment nav_top, from the pagestyle page. -->
    <div th:include="fragments/pageStyle :: nav_top"></div>
    <!-- Display a messege when you press post and hides is again after 3 sec -->
    <div id="hideMe" th:if="${message}" th:text="${message}" style="left: 50%;font-size: 20px; background-color:#4CAF50"/>
        <div id="content">
            <!-- takes the product from the ProductController in the products and display the values -->
            <table id="products">
                <tr th:each="product : ${products}" >
                    <td>
                        <a th:href="${'/product/details/' + product.ean}" th:text="${product.name}" ></a>
                    </td>
                <td style="width: 105px" th:text="${'kr. ' + product.price}"></td>
                <td style="width: 100px">
                    <!-- Calls the OrderController when Post is called. Inserts the data into the ShoppingCart list -->
                    <form th:object="${product}" th:action="@{/product/category/} + ${product.ean}" method="POST">
                    <input type="submit" value="Køb" title="Køb">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
<!-- Imports the fragment containing the style for the page -->
<style th:include="fragments/pageStyle :: style">

</style>
</html>