<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Stratek</title>
</head>
<body>
<div id="container">
    <div th:include="fragments/pageStyle :: nav_top"></div>
    <div id="content">
        <table id="products">
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${'kr. ' + product.price}"></td>
                <td><button>Køb</button></td>
            </tr>
        </table>

    </div>
</div>

</body>
<style th:include="fragments/pageStyle :: style">

</style>
</html>