<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Product Details</title>
</head>

<body>
<div id="container">
    <div th:include="fragments/pageStyle :: nav_top"></div>
    <h1 th:text="${product.manufacturer} + ' ' + ${product.name}"></h1>
        <div class="row">
            <div class="column" style="background-color:#aaa; width: 30%"></div>
            <div class="column" style="background-color: #bbb; width: 70%"></div>
            <div class="column" style="background-color:#ccc; width: 100%" >
                <h4>Detaljer</h4>
                <p>Beskrivelse: <label th:text="${product.description}"></label></p>
    
                <p>EAN: <label th:text="${product.ean}"></label></p>

                <p>Fabrikant: <label th:text="${product.manufacturer}"></label></p>

                <p>Navn: <label th:text="${product.name}"></label></p>

                <p>Kategori: <label th:text="${product.category}"></label></p>

            </div>
        </div>

    </div>
</div>
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>