<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Product Details</title>
</head>

<body>
<div id="container">
    <div th:include="fragments/pageStyle :: nav_top"></div>
    <h1>Product Details</h1>
    <div class="grid-details" style="width: 75%">
        <div class="grid-itemdetails item1">IMG</div>
        <div class="grid-itemdetails item2">P_Text</div>
        <div class="grid-itemdetails item3">P_Descrip_Text</div>

    </div>
    </div>
</div>
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>