<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${product.manufacturer} + ' ' + ${product.name}"></title>
</head>

<body>
<div id="container">
    <div th:include="fragments/pageStyle :: nav_top"></div>
        <div class="row" style="width: 100%">
            <div class="column" style="background-color:#aaa; width: 30%">
                <p>Billede her</p>
            </div>
            <div class="column" style="background-color: #bbb; width: 70%">
                <h1 th:text="${product.manufacturer} + ' ' + ${product.name}"></h1>
                <p th:text="${product.description}"></p>
            </div>
            <div class="column" style="background-color:#ccc; width: 60%" >
                <h4>Detaljer</h4>

                <p>EAN: <label th:text="${product.ean}"></label></p>

                <p>Fabrikant: <label th:text="${product.manufacturer}"></label></p>

                <p>Navn: <label th:text="${product.name}"></label></p>

                <p>Kategori: <label th:text="${product.category}"></label></p>

            </div>
            <div class="column" style="background-color: #ddd; width: 40%">
                <p style="margin-left: 33%">Lagerstatus: <label th:text="${product.quantity}"></label></p>
                <hr style="width: 50%;margin-left: 25%">
                <form th:object="${product}" style="width: 50%;margin-left: 25%" th:action="@{/product/details/} + ${product.ean}" method="POST">
                    <input type="submit" value="Køb" title="Køb">
                </form>

            </div>
        </div>

    </div>
</div>
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>