<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create new product</title>
</head>
<body>
<div th:include="/fragments/adminStyle :: sidenav"></div>
<div id="content">
    <h1>Opret Produkt</h1>
    <form id="form" th:action="@{/admin/create}" method="POST">
        <p>Product EAN:</p> <input type="number" th:field="${productModel.ean}" required/><br/>
        <p>Product Name:</p> <input type="text" th:field="${productModel.name}" required/><br/>
        <p>Product Category:</p> <select th:field="*{productModel.category}">
        <option value="">--</option>
        <option th:each="option : ${options}"
                th:value="${option.name}"
                th:text="${option.name}">
        </option>
    </select> <br/>
        <p>Product Manufacturer:</p> <input type="text" th:field="${productModel.manufacturer}" required/> <br/>
        <p>Product Quantity:</p> <input type="text" th:field="${productModel.quantity}" required/><br/>
        <p>Product Description:</p>  <textarea type="text" th:field="${productModel.description}" required/> <br/>
        <p>Product Price:</p>  <input type="text" th:field="${productModel.price}" required/> <br/>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
<style th:include="/fragments/adminStyle :: adminStyle">

</style>
</html>