<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<div th:include="/fragments/adminStyle :: sidenav"></div>
<div id="content">
    <h1>Slet Produkt</h1>
    <form th:object="${product}" th:action="@{/admin/delete}" method="POST">


    <p th:text="${product.ean}"></p>
    <p th:text="${product.category}"></p>
    <p th:text="${product.name}"></p>
    <p th:text="${product.manufacturer}"></p>
    <p th:text="${product.price}"></p>
    <p th:text="${product.quantity}"></p>
        <input type="submit" value="Slet"/>
    </form>

</div>




</body>
<style th:include="/fragments/adminStyle :: adminStyle">

</style>
</html>