<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Redigér produkt</title>
</head>
<body>
<div th:include="/fragments/adminStyle :: sidenav"></div>
<div id="content">
    <h1>Redigér Produkt</h1>
    <form id="form" th:object="${product}" th:action="@{/admin/editProduct}" method="POST">
        <div class="grid-container">
            <label>EAN</label>
                <label th:text="${product.ean}" style="grid-column: span 2"></label>
                    <input type="text" th:field="*{ean}" required style="display: none"/>
            <label>Kategori</label>
                <label th:text="${product.category}"></label>
                    <select th:field="*{category}">
                        <option th:each="option : ${options}"
                        th:value="${option.name}"
                        th:text="${option.name}">
                        </option>
                    </select>
            <label>Producent</label>
                <label th:text="${product.manufacturer}" ></label>
                    <input type="text" th:field="*{manufacturer}" required/>
            <label>Navn</label>
                <label th:text="${product.name}"></label>
                    <input type="text" th:field="*{name}" required />
            <label>Antal</label>
                <label th:text="${product.quantity}"></label>
                    <input type="text" th:field="*{quantity}" required/>
            <label>Pris</label>
                <label th:text="${'kr. ' + product.price}"></label>
                    <input type="text" th:field="*{price}" required />
            <label>Beskrivelse</label>
                <label th:text="${product.description}"></label>
                    <textarea style="width: 100%; max-width: 400px" type="text" th:field="*{description}" required/>
        </div>
        <input type="submit" value="Gem"/>

    </form>

</div>


</body>
<style th:include="/fragments/adminStyle :: adminStyle">

</style>
</html>