<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="/fragments/adminStyle :: sidenav"></div>
<div id="content">
    <h1>Redigér Produkt</h1>
    <table id="products">
        <tr>
            <th>Kategori</th>
            <th>Produkt</th>
            <th>Antal</th>
            <th>Pris</th>
            <th>EAN</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.category}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${'kr. ' + product.price}"></td>
            <td th:text="${product.ean}"></td>
            <td><a th:href="${'/admin/editProduct/' + product.ean}"><i class="fas fa-pencil-alt fa-2x"></i></a></td>
            <td><a th:href="${'/admin/editDelete/' + product.ean}">Delete</a></td>
        </tr>

    </table>

</div>


</body>
<style th:include="/fragments/adminStyle :: adminStyle">

</style>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</html>