<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Stratek</title>
</head>

<body>
<div id="container">
    <div th:include="fragments/pageStyle :: nav_top"></div>
    <div id="content">
        <table id="products">
            <tr>
                <th>EAN</th>
                <th>Kategori</th>
                <th>Navn</th>
                <th>Stykpris</th>
                <th>Antal</th>
                <th>Pris</th>
            </tr>
            <tr th:each="product : ${productList}">
                <td th:text="${product.ean}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.manufacturer} + ' ' + ${product.name}"></td>
                <div th:with="result=${product.price / product.quantity}">
                    <td th:text="'kr. ' + ${result}"></td>
                </div>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.price}"></td>
            </tr>
            <tr style="margin-top: 10px">
                <th >Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td th:object="${totalPrice}" th:text="'kr. ' + ${totalPrice}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <form id="form" th:action="@{/checkout}" method="POST" th:object="${order}">
            <p>Indtast Navn:</p> <input type="text" th:field="${order.customerName}" required /><br/>
            <p>Indtast Email:</p> <input type="text" th:field="${order.customerEmail}" required/><br/>
            <input type="submit" value="Bekræft Køb"/>
        </form>
    </div>

</div>
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>