<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create new product</title>
</head>
<body>
<div id="container">
    <div th:include="fragments/header :: nav_top"></div>

<form th:action="@{/create}" method="POST">
    Product EAN: <input type="text" th:field="${productModel.ean}" required/><br/>
    Product Name: <input type="text" th:field="${productModel.name}" required/><br/>
    Product Category: <input type="text" th:field="${productModel.category}" required/> <br/>
    Product Manufacturer: <input type="text" th:field="${productModel.manufacturer}" required/> <br/>
    Product Quantity: <input type="text" th:field="${productModel.quantity}" required/><br/>
    Product Description:  <input type="text" th:field="${productModel.description}" required/> <br/>
    Product Price:  <input type="text" th:field="${productModel.price}" required/> <br/>
    <input type="submit" value="Save"/>
</form>
</div>
</body>
<style th:include="fragments/header :: style">

</style>
</html>