<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create new product</title>
</head>
<body>

<!--
this.id = id;
        this.name = name;
        this.category = category;
        this.manufacturer = manufacturer;
        this.quantity = quantity;
        this.price = price;
        this.description = description;
        -->

<form th:action="@{/create}" method="POST">
    <input type="hidden" th:field="${productModel.id}"/><br/>
    Product Name: <input type="text" th:field="${productModel.name}"/><br/>
    Product Category: <input type="text" th:field="${productModel.category}"/> <br/>
    Product Manufacturer: <input type="text" th:field="${productModel.manufacturer}"/> <br/>
    Product Quantity: <input type="text" th:field="${productModel.quantity}"/><br/>
    Product Description:  <input type="text" th:field="${productModel.description}"/> <br/>
    Product Price:  <input type="text" th:field="${productModel.price}"/> <br/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>