<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Startek</title>

</head>
<body>
<div id="container">
    <div th:include="fragments/header :: nav_top"></div>
    <div id="content">
        <div class="grid-container">
            <a href="product/category">Mus</a>
            <a href="product/category">NUC</a>
            <a href="product/category">RAM</a>
            <a href="product/category">Skærm</a>
            <a href="product/category">SSD</a>
            <a href="product/category">Tastatur</a>

        </div>

    </div>
</div>

</body>
<style th:include="fragments/header :: style">

</style>


</html>