<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Stratek</title>
</head>

<body>
<div id="container">
    <div th:include="fragments/pageStyle :: nav_top"></div>
    <div id="content">
        <table id="products">
            <tr th:each="product : ${productList}" >
                <td>
                    <a th:href="${'/product/details/' + product.ean}" th:text="${product.name}" ></a>
                </td>
                <td style="width: 105px" th:text="${'kr. ' + product.price}"></td>
                <td style="width: 100px">
                    <form th:object="${product}" th:action="@{/product/category/} + ${product.ean}" method="POST">
                        <input type="submit" value="Køb">
                    </form>
                </td>
            </tr>
            <tr  th:object="${totalPrice}">
                <td th:text="${totalPrice}"></td>
            </tr>
        </table>
    </div>

</div>
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>