<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Stratek</title>
</head>

<body>
<div id="container">
    <div th:include="fragments/pageStyle :: nav_top"></div>
    <div id="content">
        <table id="products">
            <tr th:each="product : ${productList}" >
                <td>
                    <a th:href="${'/product/details/' + product.ean}" th:text="${product.name}" ></a>
                </td>
                <td style="width: 105px" th:text="${'kr. ' + product.price}"></td>
            </tr>
            <tr  th:object="${totalPrice}">
                <td style="text-align: right">Total</td>
                <td th:text="'kr. ' + ${totalPrice}"></td>
                <td><a href="/checkout">Checkout</a></td>
            </tr>
        </table>
    </div>

</div>
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>