<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Indkøbskurv</title>
</head>

<body>
<div id="container">
    <div th:include="fragments/pageStyle :: nav_top"></div>
    <div id="content">
        <table id="products">
            <tr>
                <th>EAN</th>
                <th>Navn</th>
                <th>Kategori</th>
                <th>Stykpris</th>
                <th>Antal</th>
                <th>Pris</th>
            </tr>
            <tr th:each="product : ${productList}" >
                <td>
                    <a th:href="${'/product/details/' + product.ean}" th:text="${product.ean}"></a>
                </td>
                <td>
                    <a th:href="${'/product/details/' + product.ean}" th:text="${product.manufacturer} + ' ' + ${product.name}" ></a>
                </td>
                <td>
                    <a th:href="${'/product/category/' + product.category}" th:text="${product.category}"></a>
                </td>
                <div th:with="result=${product.price / product.quantity}">
                    <td th:text="'kr. ' + ${result}"></td>
                </div>
                <td th:text="${product.quantity}"></td>
                <td th:text="${'kr. ' + product.price}"></td>
            </tr>
            <tr>
                <th style="border: none"></th>
                <th style="border: none"></th>
                <th style="border: none"></th>
                <th style="border: none"></th>
                <th style="border: none"></th>
                <th style="border: none"></th>
            </tr>
            <tr  th:object="${totalPrice}" style="border: none">
                <td style="border: none"></td>
                <td style="border: none"></td>
                <td style="border: none"></td>
                <td style="text-align: right;border: none; border-bottom: 1px solid #dddddd">Total</td>
                <td th:text="'kr. ' + ${totalPrice}" style="border:none;border-bottom: 1px solid #dddddd"></td>
                <td style="border: none; border-bottom: 1px solid #dddddd; text-align: center"><a href="/checkout">Checkout</a></td>
            </tr>
        </table>
    </div>

</div>
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>